name: instagram_login
description: Log into Instagram with persona credentials, handle popups, scroll feed
target_package: com.instagram.android
timeout: 120.0
retry_count: 0
actions:
- action: app_start
  package: com.instagram.android
- action: sleep
  duration: 3
- action: if
  condition:
    element_exists:
      text: Allow
  then:
  - action: tap
    text: Not Now
- action: try
  actions:
  - action: type
    text: '{persona.credentials.instagram.username}'
    into: Username
    into_by: text
  - action: type
    text: '{persona.credentials.instagram.password}'
    into: Password
    into_by: text
  - action: tap
    text: Log in
  on_error:
  - action: screenshot
  - action: press
    key: back
- action: sleep
  duration: 2
- action: if
  condition:
    element_exists:
      text: Save Your Login Info?
  then:
  - action: tap
    text: Not now
- action: repeat
  count: 5
  actions:
  - action: swipe
    direction: up
  - action: sleep
    duration: 1
- action: screenshot
